# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore Makefile
!Makefile

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` `.exe` and `.o`
*.class
*.exe
*.o

# Ignore `bin` dir
bin/
# or
*/bin/*


